In [23]:
import pymongo
import requests
import pandas as pd
import json
from bson.objectid import ObjectId

In [24]:
# response = requests.get('https://ucsd-final-project-data.s3-us-west-2.amazonaws.com/sentiment_financial.json')

In [25]:
# Create connection variable
conn = 'mongodb://localhost:27017'

# Pass connection to the pymongo instance.
client = pymongo.MongoClient(conn)

# Connect to a database. Will create one if not already available.
db = client.tweets

In [26]:
cursor = db['capstone_finance'].find({'sentiment_by_sentence':{"$exists": 'true'}},{'tweet_id':1,'datetime':1,
                                                                                    'screen_name':1,'text':1,
                                                                                    'favorite_count':1,'follower_count':1,
                                                                                    'retweet_count':1, 'unix_timestamp':1,
                                                                                    'username':1, 'sentiment_by_sentence':1,
                                                                                    '_id':0})

In [27]:
json_list = []

for  row in cursor:
    json_list.append(row)

In [47]:
with open('data/sentiment_finance.json', 'w') as outfile:  
    json.dump(json_list, outfile)

In [21]:
df = pd.DataFrame(json_list)
df.head()

,datetime,favorite_count,follower_count,retweet_count,screen_name,sentiment_by_sentence,text,tweet_id,unix_timestamp,username
0,29-Jun-2019 23:07:14.000000,304,3192272,117,CNBC,"[Neutral, Neutral]",A trainee day trader in France made $11.6 mill...,1145106478694588416,1.561875e+09,CNBC
1,29-Jun-2019 21:55:38.000000,206,3192272,86,CNBC,[Negative],Krispy Kreme opening huge store in Times Squar...,1145088459083845633,1.561871e+09,CNBC
2,29-Jun-2019 21:44:47.000000,34,3192272,18,CNBC,[Negative],Trump says 'there will be no reduction in the ...,1145085729577545728,1.561870e+09,CNBC
3,29-Jun-2019 19:59:40.000000,23,3192272,13,CNBC,[Negative],'It's a temporary time out': Trump and Xi agre...,1145059277188546560,1.561864e+09,CNBC
4,29-Jun-2019 19:04:33.000000,23,3192272,11,CNBC,"[Neutral, Neutral]",The Trump economy is starting to look more and...,1145045407648686084,1.561860e+09,CNBC

In [18]:
new_list = []

for dct in json_list:
    new_list.append(pd.DataFrame(dct)) 

tmp = pd.concat(new_list) # aggregate them all
print(tmp)

# tmp = pd.concat(json_list)
tmp.to_csv('data/sentiment_finance.csv')

               tweet_id                     datetime  favorite_count  \
0   1145106478694588416  29-Jun-2019 23:07:14.000000             304
1   1145106478694588416  29-Jun-2019 23:07:14.000000             304
0   1145088459083845633  29-Jun-2019 21:55:38.000000             206
0   1145085729577545728  29-Jun-2019 21:44:47.000000              34
0   1145059277188546560  29-Jun-2019 19:59:40.000000              23
0   1145045407648686084  29-Jun-2019 19:04:33.000000              23
1   1145045407648686084  29-Jun-2019 19:04:33.000000              23
0   1144997926449455105  29-Jun-2019 15:55:53.000000              18
0   1144984499522084865  29-Jun-2019 15:02:32.000000              12
0   1144979081370460160  29-Jun-2019 14:41:00.000000              40
1   1144979081370460160  29-Jun-2019 14:41:00.000000              40
2   1144979081370460160  29-Jun-2019 14:41:00.000000              40
0   1144961327636582400  29-Jun-2019 13:30:27.000000              50
0   1144946521919692801  29-Jun-2019 12:31:37.000000              52
0   1144924287842865152  29-Jun-2019 11:03:16.000000              22
1   1144924287842865152  29-Jun-2019 11:03:16.000000              22
0   1144878107469537280  29-Jun-2019 07:59:46.000000              57
1   1144878107469537280  29-Jun-2019 07:59:46.000000              57
0   1144863570557059072  29-Jun-2019 07:02:00.000000              15
1   1144863570557059072  29-Jun-2019 07:02:00.000000              15
2   1144863570557059072  29-Jun-2019 07:02:00.000000              15
3   1144863570557059072  29-Jun-2019 07:02:00.000000              15
0   1144860299331350528  29-Jun-2019 06:49:00.000000              29
1   1144860299331350528  29-Jun-2019 06:49:00.000000              29
0   1144849225836040193  29-Jun-2019 06:05:00.000000               9
1   1144849225836040193  29-Jun-2019 06:05:00.000000               9
2   1144849225836040193  29-Jun-2019 06:05:00.000000               9
3   1144849225836040193  29-Jun-2019 06:05:00.000000               9
0   1144837085553143808  29-Jun-2019 05:16:45.000000              35
1   1144837085553143808  29-Jun-2019 05:16:45.000000              35
..                  ...                          ...             ...
1   1024728443068588032  01-Aug-2018 18:47:54.000000               5
0   1024656206898573313  01-Aug-2018 14:00:51.000000             749
0   1024457259965980672  01-Aug-2018 00:50:18.000000               8
0   1024344173418369025  31-Jul-2018 17:20:56.000000              44
1   1024344173418369025  31-Jul-2018 17:20:56.000000              44
2   1024344173418369025  31-Jul-2018 17:20:56.000000              44
0   1022888654379859970  27-Jul-2018 16:57:14.000000              28
0   1022835109882482688  27-Jul-2018 13:24:28.000000               5
1   1022835109882482688  27-Jul-2018 13:24:28.000000               5
0   1022536729947987968  26-Jul-2018 17:38:48.000000               9
1   1022536729947987968  26-Jul-2018 17:38:48.000000               9
2   1022536729947987968  26-Jul-2018 17:38:48.000000               9
0   1022536401777250305  26-Jul-2018 17:37:30.000000               1
0   1022220757412315151  25-Jul-2018 20:43:15.000000               7
0   1020289252297527296  20-Jul-2018 12:48:08.000000             969
0   1019921711133790208  19-Jul-2018 12:27:39.000000              18
0   1019606054311792640  18-Jul-2018 15:33:21.000000               2
1   1019606054311792640  18-Jul-2018 15:33:21.000000               2
0   1018953159350382592  16-Jul-2018 20:18:59.000000               2
1   1018953159350382592  16-Jul-2018 20:18:59.000000               2
0   1017782576684072960  13-Jul-2018 14:47:30.000000               2
0   1017491458427969536  12-Jul-2018 19:30:42.000000              27
1   1017491458427969536  12-Jul-2018 19:30:42.000000              27
2   1017491458427969536  12-Jul-2018 19:30:42.000000              27
3   1017491458427969536  12-Jul-2018 19:30:42.000000              27
0   1017431843686281216  12-Jul-2018 15:33:49.000000             135
0   1017421303790362624  12-Jul-2018 14:51:56.000000              12
0   1016128815880392704  09-Jul-2018 01:16:03.000000              86
0   1015964593070444545  08-Jul-2018 14:23:29.000000             461
1   1015964593070444545  08-Jul-2018 14:23:29.000000             461

    follower_count  retweet_count   screen_name  \
0          3192272            117          CNBC
1          3192272            117          CNBC
0          3192272             86          CNBC
0          3192272             18          CNBC
0          3192272             13          CNBC
0          3192272             11          CNBC
1          3192272             11          CNBC
0          3192272              9          CNBC
0          3192272              4          CNBC
0          3192272             14          CNBC
1          3192272             14          CNBC
2          3192272             14          CNBC
0          3192272             36          CNBC
0          3192272             32          CNBC
0          3192272             13          CNBC
1          3192272             13          CNBC
0          3192272             30          CNBC
1          3192272             30          CNBC
0          3192272              5          CNBC
1          3192272              5          CNBC
2          3192272              5          CNBC
3          3192272              5          CNBC
0          3192272             16          CNBC
1          3192272             16          CNBC
0          3192272             10          CNBC
1          3192272             10          CNBC
2          3192272             10          CNBC
3          3192272             10          CNBC
0          3192272             23          CNBC
1          3192272             23          CNBC
..             ...            ...           ...
1            98340              0  morganhousel
0            98340            181  morganhousel
0            98340              0  morganhousel
0            98340              1  morganhousel
1            98340              1  morganhousel
2            98340              1  morganhousel
0            98340              0  morganhousel
0            98340              0  morganhousel
1            98340              0  morganhousel
0            98340              0  morganhousel
1            98340              0  morganhousel
2            98340              0  morganhousel
0            98340              0  morganhousel
0            98340              0  morganhousel
0            98340            200  morganhousel
0            98340              0  morganhousel
0            98340              0  morganhousel
1            98340              0  morganhousel
0            98340              0  morganhousel
1            98340              0  morganhousel
0            98340              0  morganhousel
0            98340              2  morganhousel
1            98340              2  morganhousel
2            98340              2  morganhousel
3            98340              2  morganhousel
0            98340              6  morganhousel
0            98340              0  morganhousel
0            98340              0  morganhousel
0            98340             38  morganhousel
1            98340             38  morganhousel

                                                 text  unix_timestamp  \
0   A trainee day trader in France made $11.6 mill...    1.561875e+09
1   A trainee day trader in France made $11.6 mill...    1.561875e+09
0   Krispy Kreme opening huge store in Times Squar...    1.561871e+09
0   Trump says 'there will be no reduction in the ...    1.561870e+09
0   'It's a temporary time out': Trump and Xi agre...    1.561864e+09
0   The Trump economy is starting to look more and...    1.561860e+09
1   The Trump economy is starting to look more and...    1.561860e+09
0   US business groups praise Trump's trade war tr...    1.561849e+09
0   This buyback-focused ETF is beating the market...    1.561846e+09
0   In this #CNBCClassic clip from 1995, the Dow b...    1.561844e+09
1   In this #CNBCClassic clip from 1995, the Dow b...    1.561844e+09
2   In this #CNBCClassic clip from 1995, the Dow b...    1.561844e+09
0   How to use this $70 gadget to detect spy camer...    1.561840e+09
0   80% of the stock market is now on autopilot ht...    1.561837e+09
0   Trump, when asked last week if he still wants ...    1.561831e+09
1   Trump, when asked last week if he still wants ...    1.561831e+09
0   U.S.-China trade war may become a currency war...    1.561820e+09
1   U.S.-China trade war may become a currency war...    1.561820e+09
0   Whether you owe too much to the IRS or are get...    1.561817e+09
1   Whether you owe too much to the IRS or are get...    1.561817e+09
2   Whether you owe too much to the IRS or are get...    1.561817e+09
3   Whether you owe too much to the IRS or are get...    1.561817e+09
0   This chip stock is set to surge in the next mo...    1.561816e+09
1   This chip stock is set to surge in the next mo...    1.561816e+09
0   Whether you owe too much to the IRS or are get...    1.561814e+09
1   Whether you owe too much to the IRS or are get...    1.561814e+09
2   Whether you owe too much to the IRS or are get...    1.561814e+09
3   Whether you owe too much to the IRS or are get...    1.561814e+09
0   Trump and Xi agree to continue tariff talks. H...    1.561811e+09
1   Trump and Xi agree to continue tariff talks. H...    1.561811e+09
..                                                ...             ...
1   @MylesUdland Interest rates went negative and ...    1.533174e+09
0   Ruining the economy: \n\n2008: Weak dollar \n2...    1.533157e+09
0                      @EconomPic @RampCapitalLLC No.    1.533110e+09
0   Undercovered stories for journalists looking f...    1.533083e+09
1   Undercovered stories for journalists looking f...    1.533083e+09
2   Undercovered stories for journalists looking f...    1.533083e+09
0   @CramersShirt This has less to do with the eco...    1.532736e+09
0   @jlowin Last time was three zeroes, this time ...    1.532723e+09
1   @jlowin Last time was three zeroes, this time ...    1.532723e+09
0   @EconomPic @awealthofcs Uncanny resemblance. L...    1.532652e+09
1   @EconomPic @awealthofcs Uncanny resemblance. L...    1.532652e+09
2   @EconomPic @awealthofcs Uncanny resemblance. L...    1.532652e+09
0                       @EconomPic @awealthofcs Dude.    1.532652e+09
0   @JBoorman Right, it's basically a bullish stat...    1.532577e+09
0   Everything about bear markets is easy to predi...    1.532116e+09
0                       @patrick_oshag Dig the beard.    1.532028e+09
0   @m_rlons @ianpeterson22 Those calculations cou...    1.531953e+09
1   @m_rlons @ianpeterson22 Those calculations cou...    1.531953e+09
0   @CramersShirt $350 after hours. Traded at $280...    1.531798e+09
1   @CramersShirt $350 after hours. Traded at $280...    1.531798e+09
0      @BullandBaird @rktv0306 Strategic obfuscation.    1.531518e+09
0   @DezalToeh For the economy: no way out. Boom b...    1.531449e+09
1   @DezalToeh For the economy: no way out. Boom b...    1.531449e+09
2   @DezalToeh For the economy: no way out. Boom b...    1.531449e+09
3   @DezalToeh For the economy: no way out. Boom b...    1.531449e+09
0   @EconomPic He will pipe in clean, fresh, short...    1.531435e+09
0   @EconomPic @BlairHduQuesnay He's talked about ...    1.531432e+09
0   @wolfejosh Constantly referring to yourself as...    1.531124e+09
0   Consequence of the digital age: Writing a lett...    1.531085e+09
1   Consequence of the digital age: Writing a lett...    1.531085e+09

         username sentiment_by_sentence
0            CNBC               Neutral
1            CNBC               Neutral
0            CNBC              Negative
0            CNBC              Negative
0            CNBC              Negative
0            CNBC               Neutral
1            CNBC               Neutral
0            CNBC              Negative
0            CNBC              Negative
0            CNBC              Negative
1            CNBC              Positive
2            CNBC               Neutral
0            CNBC               Neutral
0            CNBC              Negative
0            CNBC              Negative
1            CNBC               Neutral
0            CNBC              Negative
1            CNBC               Neutral
0            CNBC              Negative
1            CNBC               Neutral
2            CNBC              Negative
3            CNBC               Neutral
0            CNBC              Negative
1            CNBC               Neutral
0            CNBC              Negative
1            CNBC               Neutral
2            CNBC              Negative
3            CNBC               Neutral
0            CNBC              Negative
1            CNBC               Neutral
..            ...                   ...
1   Morgan Housel              Negative
0   Morgan Housel              Negative
0   Morgan Housel               Neutral
0   Morgan Housel               Neutral
1   Morgan Housel              Negative
2   Morgan Housel              Negative
0   Morgan Housel              Negative
0   Morgan Housel               Neutral
1   Morgan Housel              Positive
0   Morgan Housel              Negative
1   Morgan Housel              Positive
2   Morgan Housel               Neutral
0   Morgan Housel               Neutral
0   Morgan Housel              Negative
0   Morgan Housel              Positive
0   Morgan Housel               Neutral
0   Morgan Housel              Negative
1   Morgan Housel              Negative
0   Morgan Housel              Negative
1   Morgan Housel              Negative
0   Morgan Housel               Neutral
0   Morgan Housel               Neutral
1   Morgan Housel               Neutral
2   Morgan Housel               Neutral
3   Morgan Housel              Positive
0   Morgan Housel              Positive
0   Morgan Housel              Negative
0   Morgan Housel              Positive
0   Morgan Housel              Negative
1   Morgan Housel              Negative

[15291 rows x 10 columns]

## Load the new csv file to dataframe

In [19]:
df = pd.read_csv('data/sentiment_finance.csv')

In [20]:
df.head()

,Unnamed: 0,tweet_id,datetime,favorite_count,follower_count,retweet_count,screen_name,text,unix_timestamp,username,sentiment_by_sentence
0,0,1145106478694588416,29-Jun-2019 23:07:14.000000,304,3192272,117,CNBC,A trainee day trader in France made $11.6 mill...,1.561875e+09,CNBC,Neutral
1,1,1145106478694588416,29-Jun-2019 23:07:14.000000,304,3192272,117,CNBC,A trainee day trader in France made $11.6 mill...,1.561875e+09,CNBC,Neutral
2,0,1145088459083845633,29-Jun-2019 21:55:38.000000,206,3192272,86,CNBC,Krispy Kreme opening huge store in Times Squar...,1.561871e+09,CNBC,Negative
3,0,1145085729577545728,29-Jun-2019 21:44:47.000000,34,3192272,18,CNBC,Trump says 'there will be no reduction in the ...,1.561870e+09,CNBC,Negative
4,0,1145059277188546560,29-Jun-2019 19:59:40.000000,23,3192272,13,CNBC,'It's a temporary time out': Trump and Xi agre...,1.561864e+09,CNBC,Negative