In [28]:
import pymongo
import requests
import pandas as pd
import json
from bson.objectid import ObjectId

## Access json file in S3 bucket

In [30]:
# Create connection variable
conn = 'mongodb://localhost:27017'

# Pass connection to the pymongo instance.
client = pymongo.MongoClient(conn)

# Connect to a database. Will create one if not already available.
db = client.tweets

In [31]:
cursor = db['capstone_finance'].find({'sentiment_by_sentence':{"$exists": 'true'}},{'tweet_id':1,'datetime':1,
                                                                                    'screen_name':1,'text':1,
                                                                                    'favorite_count':1,'follower_count':1,
                                                                                    'retweet_count':1, 'unix_timestamp':1,
                                                                                    'username':1, 'sentiment_by_sentence':1,
                                                                                    '_id':0})

In [32]:
json_list = []

for  row in cursor:
    json_list.append(row)

## Save list of dictionariwa to json file

In [33]:
with open('data/sentiment_finance.json', 'w') as outfile:  
    json.dump(json_list, outfile)

## Create a dataframe and save to csv file

In [34]:
df = pd.DataFrame(json_list)
# df.to_csv('data/sentiment_finance.csv')

,datetime,favorite_count,follower_count,retweet_count,screen_name,sentiment_by_sentence,text,tweet_id,unix_timestamp,username
0,29-Jun-2019 23:07:14.000000,304,3192272,117,CNBC,"[Neutral, Neutral]",A trainee day trader in France made $11.6 mill...,1145106478694588416,1.561875e+09,CNBC
1,29-Jun-2019 21:55:38.000000,206,3192272,86,CNBC,[Negative],Krispy Kreme opening huge store in Times Squar...,1145088459083845633,1.561871e+09,CNBC
2,29-Jun-2019 21:44:47.000000,34,3192272,18,CNBC,[Negative],Trump says 'there will be no reduction in the ...,1145085729577545728,1.561870e+09,CNBC
3,29-Jun-2019 19:59:40.000000,23,3192272,13,CNBC,[Negative],'It's a temporary time out': Trump and Xi agre...,1145059277188546560,1.561864e+09,CNBC
4,29-Jun-2019 19:04:33.000000,23,3192272,11,CNBC,"[Neutral, Neutral]",The Trump economy is starting to look more and...,1145045407648686084,1.561860e+09,CNBC

## Load the new csv file to dataframe

In [35]:
df = pd.read_csv('data/sentiment_finance.csv')

In [36]:
df.head()

,Unnamed: 0,datetime,favorite_count,follower_count,retweet_count,screen_name,sentiment_by_sentence,text,tweet_id,unix_timestamp,username
0,0,29-Jun-2019 23:07:14.000000,304,3192272,117,CNBC,"['Neutral', 'Neutral']",A trainee day trader in France made $11.6 mill...,1145106478694588416,1.561875e+09,CNBC
1,1,29-Jun-2019 21:55:38.000000,206,3192272,86,CNBC,['Negative'],Krispy Kreme opening huge store in Times Squar...,1145088459083845633,1.561871e+09,CNBC
2,2,29-Jun-2019 21:44:47.000000,34,3192272,18,CNBC,['Negative'],Trump says 'there will be no reduction in the ...,1145085729577545728,1.561870e+09,CNBC
3,3,29-Jun-2019 19:59:40.000000,23,3192272,13,CNBC,['Negative'],'It's a temporary time out': Trump and Xi agre...,1145059277188546560,1.561864e+09,CNBC
4,4,29-Jun-2019 19:04:33.000000,23,3192272,11,CNBC,"['Neutral', 'Neutral']",The Trump economy is starting to look more and...,1145045407648686084,1.561860e+09,CNBC